@charset 'utf-8';
/*首页*/
.main-index .index-banner a {
  display: block;
}
.main-index .index-banner img {
  width: 100%;
}
.main-index .modal {
  margin-top: 30px;
}
.main-index .index-tab {
  margin-top: 0;
}
.main-index .index-tab .layui-tab-title li {
  font-size: 16px;
}
.main-index .index-tab .layui-tab-title li:after {
  border-top: 2px solid #ffffff;
}
.main-index .index-tab .layui-tab-title li.layui-this {
  font-weight: 600;
}
.main-index .index-tab .layui-tab-title li.layui-this:after {
  border-top-color: #FF4400;
}
.main-index .index-tab .layui-table-view {
  border: 0;
}
.main-index .index-tab .layui-tab-content {
  padding: 0;
}
.main-index .index-tab .layui-table-header {
  border: 0;
}
.main-index .index-tab .layui-table-header th {
  border-color: #ffffff;
}
.main-index .list-modal {
  padding: 10px 0;
}
.main-index .list-modal .pic {
  width: 200px;
}
.main-index .list-modal .pic img {
  width: 100%;
}
.main-index .list-modal .lists-box {
  width: 800px;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-index .list-modal .lists-box.left-list {
  padding: 0 50px 0 0;
}
.main-index .list-modal .lists-box li {
  height: 28px;
  line-height: 28px;
  padding-left: 20px;
  position: relative;
}
.main-index .list-modal .lists-box li i {
  position: absolute;
  font-size: 12px;
  left: 5px;
  color: #999999;
}
.main-index .list-modal .lists-box li a {
  display: inline-block;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-index .list-modal .lists-box li span {
  float: right;
}
/*注册*/
.main-register {
  border-top: 1px solid #e6e6e6;
}
.main-register .layui-form {
  width: 460px;
  margin: 50px 0 50px 210px;
}
.main-register .layui-form-label {
  padding-left: 0;
  width: 95px;
}
.main-register .layui-btn {
  width: 100%;
  padding: 0;
  text-align: center;
}
.main-register .picmark {
  width: 100px;
  height: 36px;
  border: 1px solid #e6e6e6;
}
